.navbar {
  height: 60px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #0f172a;
  color: white;
}

.navbar__logo {
  font-size: 20px;
  font-weight: bold;
}

.navbar__links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar__links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.navbar__links a:hover {
  color: #38bdf8;
}
